.main{
    background-color: ghostwhite;
    height: 100vh;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 10px 0px 15px;
}

.dropdown{
    font-family: 'Segoe UI', sans-serif;
}

footer{
    background-color: rgba(0, 0, 0, 0.718);
}

@media (min-width: 1440px) {
    .logout-margin {
        margin-right: 50px;
    }
    .logo{
        margin: 0px 15px 0px 25px;
    }
}