<body class="index-page"></body>

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a routerLink="/">
                <div class="logo">
                    <span class="inline-flex align-items-center gap-2">
                        <img src="https://cdn-icons-png.flaticon.com/512/10729/10729094.png" alt="ticket-icon"
                            width="40" height="40" />
                        <span class="font-semibold text-2xl text">Support Board</span>
                    </span>
                </div>
            </a>

            <a class="btn-getstarted flex-md-shrink-0 bg-primary" routerLink="/login">LogIn</a>

        </div>
    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section">

            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 order-1 order-lg-1 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Welcome to <span class="text-primary">Support Board</span></h1>
                        <p data-aos="fade-up" data-aos-delay="100">A comprehensive solution designed to streamline the
                            process of handling and managing requests within an organization.</p>
                        <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                            <a routerLink="/login" class="btn-get-started bg-primary">Get Started <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-2 order-lg-2 hero-img" data-aos="zoom-out">
                        <img src="https://img.freepik.com/free-vector/technical-support-system-calibration-software-configuration-settings-adjustments-professional-computer-maintenance-service-technician-occupation-concept-illustration_335657-2051.jpg?t=st=1722619516~exp=1722623116~hmac=97de596cc5dfbd94967cca09fe6d3e538ace105ef910e2352a934a5db846e8f3&w=826"
                            class="img-fluid animated" alt="" width="100%">
                    </div>
                </div>
            </div>

        </section><!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">

            <div class="container" data-aos="fade-up">
                <div class="row gx-0">

                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="content">
                            <h2>What is Support Board?</h2>
                            <p>
                                Support Board is a comprehensive solution designed to streamline the process of handling
                                and managing requests within
                                an organization. It is particularly beneficial in IT companies where it serves as a
                                central system for tracking and
                                resolving issues, managing service requests, and ensuring smooth operations.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="https://img.freepik.com/free-vector/connecting-teams-concept-landing-page_23-2148292731.jpg?t=st=1722621089~exp=1722624689~hmac=e9542d029026f38fcbe48cf2e989896fdade96132103aa49fc3261d2e74f8346&w=1380"
                            class="img-fluid" alt="" width="100%">
                    </div>

                </div>
            </div>

        </section><!-- /About Section -->

        <!-- Values Section -->
        <section id="values" class="values section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <p>Where is it Used?<br></p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <img src="https://img.freepik.com/free-vector/people-working-office-flat-design_52683-21372.jpg?t=st=1722621545~exp=1722625145~hmac=f499065c83f799c66fbf01b62184ee26fa69fbae3a4371c074209266c0043ddc&w=826"
                                class="img-fluid" alt="" width="100%">
                            <h3>IT Support</h3>
                            <p>For handling technical issues, software installation requests, and system modifications.
                            </p>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="https://img.freepik.com/free-vector/best-employees-rating_74855-4367.jpg?t=st=1722621768~exp=1722625368~hmac=1db07cfbef7ef4184943b4a10b9b5ab897dc7cecf86893e7af53e9c47da44f01&w=1060"
                                class="img-fluid mt-5 mb-5" alt="" width="100%">
                            <h3>HR Departments</h3>
                            <p>For managing onboarding processes, employee requests, and internal communications.
                            </p>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="card">
                            <img src="https://img.freepik.com/premium-vector/professional-vector-icon-business-illustration-line-symbol-management-set-people-concept_1013341-361696.jpg?w=826"
                                class="img-fluid" alt="" width="100%">
                            <h3>Facilities Management</h3>
                            <p>For managing maintenance requests and facility-related issues.
                            </p>
                        </div>
                    </div><!-- End Card Item -->

                </div>

            </div>

        </section><!-- /Values Section -->


        <!-- Features Section -->
        <section id="features" class="features section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <p class="text-info">OurFeatures<br></p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-5">

                    <div class="col-xl-6" data-aos="zoom-out" data-aos-delay="100">
                        <img src="https://img.freepik.com/free-vector/preferences-concept-illustration_114360-1384.jpg?t=st=1722622925~exp=1722626525~hmac=a5097cba5b21150917b93a6c1e089527e4b48a0e81b4a47d02d8876789fc1a7b&w=826"
                            class="img-fluid" alt="" width="90%">
                    </div>

                    <div class="col-xl-6 d-flex">
                        <div class="row align-self-center gy-4">

                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Dashboard</h3>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Ticket Creation</h3>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Role-Based Access</h3>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Ticket Assignment</h3>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Session Based Authentication</h3>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="bi bi-check"></i>
                                    <h3>Status Tracking</h3>
                                </div>
                            </div><!-- End Feature Item -->

                        </div>
                    </div>

                </div>

            </div>

        </section><!-- /Features Section -->

        <!-- Alt Features Section -->
        <section id="alt-features" class="alt-features section">

            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <p class="text-info">How to Use<br></p>
                </div>
                <div class="row gy-5">

                    <div class="col-xl-12 d-flex order-2 order-xl-1" data-aos="fade-up" data-aos-delay="200">

                        <div class="row align-self-center gy-5">

                            <div class="col-md-4 icon-box">
                                <i class="bi bi-award"></i>
                                <div>
                                    <h4>Logging In</h4>
                                    <p>Users log into the system using their credentials.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-4 icon-box">
                                <i class="bi bi-card-checklist"></i>
                                <div>
                                    <h4>Raising a Ticket</h4>
                                    <p>Users raise the ticket by detailing their request. </p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-4 icon-box">
                                <i class="bi bi-dribbble"></i>
                                <div>
                                    <h4>Assigning the Ticket</h4>
                                    <p>The ticket is received by the relevant department. The department head reviews
                                        the ticket and assigns it to an appropriate
                                        employee.
                                    </p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-4 icon-box">
                                <i class="bi bi-filter-circle"></i>
                                <div>
                                    <h4>Processing the Ticket</h4>
                                    <p>The assigned employee starts working on the request, updates the ticket status,
                                        and communicates progress.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-4 icon-box">
                                <i class="bi bi-lightning-charge"></i>
                                <div>
                                    <h4>Closing the Ticket</h4>
                                    <p>Once the request is fulfilled, the employee closes the ticket, marking it as
                                        resolved.</p>
                                </div>
                            </div><!-- End Feature Item -->

                            <div class="col-md-4 icon-box">
                                <i class="bi bi-patch-check"></i>
                                <div>
                                    <h4>Credentials <span class="text-600"> ( For Demo ) </span></h4>
                                    <div class="flex flex-row gap-4">
                                        <div>
                                            <p class="mb-2">For Department Head</p>
                                            <p><span class="font-semibold">Mail: </span>ajay&#64;gmail.com</p>
                                            <p><span class="font-semibold">Password: </span>Ajay&#64;119</p>
                                        </div>
                                        <div>
                                            <p class="mb-2">For Employee</p>
                                            <p><span class="font-semibold">Mail: </span>dk&#64;gmail.com</p>
                                            <p><span class="font-semibold">Password: </span>Dkrao&#64;123</p>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Feature Item -->

                        </div>

                    </div>


                </div>

            </div>

        </section><!-- /Alt Features Section -->


        <footer id="footer" class="footer">

            <div class="container footer-top">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <a href="index.html" class="d-flex align-items-center">
                            <span class="sitename">Support Board</span>
                        </a>
                        <div class="footer-contact pt-3">
                            <p class="mt-3"><strong>Phone: </strong> <span>+91 90144 04336</span></p>
                            <p><strong>Email: </strong> <span>ajayprofessional119&#64;gmail.com</span></p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#features">Features</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#alt-features">How to use</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <h4>Follow Us</h4>
                        <p>Follow us on social media to stay updated on the latest news and events.</p>
                        <div class="social-links d-flex">
                            <a href="https://www.linkedin.com/in/Ajayduddi/"><i class="pi pi-linkedin font-white"></i></a>
                            <a href="https://x.com/_ajay_official_"><i class="pi pi-twitter"></i></a>
                            <a href="https://github.com/Ajayduddi/Ticketing-Tool"><i class="pi pi-github"></i></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container copyright text-center mt-4">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">Support Board</strong> <span>All Rights Reserved</span>
                </p>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you've purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                    Designed by <a href="https://www.linkedin.com/in/Ajayduddi/">Ajay Duddi</a>
                </div>
            </div>

        </footer>
    </main>
</body>
